body
{
	background-color: #ffffff;
	color: #000000;
}

CD{
    display: block;
}

TITLE{
    color: red;
}
ARTIST{
    color: blue;
}

COUNTRY ,COMPANY ,PRICE,YEAR{
    display: block;
    margin-left: 20px;
}